<!--webpage-->
<!doctype html>
<title>Upload new File</title>
<h1>Upload new File</h1>
<form method=post enctype=multipart/form-data>
  <input type=file name=file>
  <!-- <div class="input-group">
    <span class="input-group-addon">Please select</span>
        <select name="comp_select" class="selectpicker form-control">
          
          <option value="nsrl">NSRL</option>
          <option value="virustotal">VirusTotal</option>
          <option value="threatcrowd">ThreatCrowd</option>
          <option value="otx">OTX</option>
          <option value="threatexpert">ThreatExpert</option>
          <option value="all">ALL</option>
         
        </select>
</div> -->
  <input type=submit value=Upload>
</form>
